[submodule "vendor/liboscar"]
	path = vendor/liboscar
	url = https://github.com/dbahrdt/liboscar.git
[submodule "vendor/lsst/sphgeom"]
	path = vendor/lsst/sphgeom
	url = https://github.com/lsst/sphgeom.git
