[submodule "vendor/liboscar"]
	path = vendor/liboscar
	url = https://github.com/dbahrdt/liboscar.git
[submodule "vendor/lsst/sphgeom"]
	path = vendor/lsst/sphgeom
	url = https://github.com/dbahrdt/sphgeom.git
[submodule "vendor/h3"]
	path = vendor/h3
	url = https://github.com/uber/h3.git
[submodule "vendor/s2geometry"]
	path = vendor/s2geometry
	url = https://github.com/google/s2geometry.git
